root = True

[*]
end_of_line = lf
insert_final_newline = True
indent_style = space
indent_size = 4
trim_trailing_whitespace = True

[*.py]
charset = utf-8

[*.{js,json,html,txt,sh,inc}]
charset = utf-8
indent_size = 2

[*.{yml,yaml,md,rb,template,tpl,tfstate,backup,xml,css,sql}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{tf,hcl,tfvars}]
indent_size = 2

[LICENSE]
indent_size = unset
